@inherits LayoutComponentBase

<PageTitle>WhatsInt</PageTitle>

<div class="page">
    <main>
        <div>ACONTECEU UM ERRO!</div>
   <div class="txt">
      Entre em contato com a Agger<span class="blink">_</span>
   </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
