@page "/interaction";
@inherits CustomBaseComponent<InteractionViewModel>

<h3>Interaction</h3>

<form>
    <div class="CadastraPerguntas">
        <div>
            <div class="CreateForm">
                <button onclick="@createForm">Criar Pergunta</button>
                @if (InteractionViewModel.IsFormVisible)
                {
                     <div id="buttonCreate">
                       <input type="text" placeholder="Cadastre sua pergunta." id="Quest" @bind-value="BindingContext.Quest" />
                    </div>

                    <input id="Asks1" placeholder="Reposta 1" @bind-value="BindingContext.Asks1">
                    <input id="Asks2" placeholder="Reposta 2" @bind-value="BindingContext.Asks2">
                    <input id="Asks3" placeholder="Reposta 3" @bind-value="BindingContext.Asks3">

                    <div id="buttonSave">
                        <button @onclick="@BindingContext.saveQuestClick">Salvar</button>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="ConsultaPerguntas">

        <label>Perguntas Cadastradas</label>

        <div>
            <select>
                @foreach( var aux in InteractionViewModel.listArray)
                {
                    <option>@aux</option>
                }
            </select>
        </div>

        <div class="RetornaSelecionadaDoBanco">
            <div class="SelectePergunta">
                <label>Pegunta</label>

            </div>

            <div class="SelecteRespostas">
                <input id="Asks1" placeholder="Reposta 1" @bind-value="BindingContext.Asks1">
                <input id="Asks2" placeholder="Reposta 2" @bind-value="BindingContext.Asks2">
                <input id="Asks3" placeholder="Reposta 3" @bind-value="BindingContext.Asks3">
            </div>
        </div>


        <button>Salvar</button>
        <button>Excluir</button>
    </div>
</form>

<footer id="footer" class="d-flex justify-content-center">
    <div href="https://agger.com.br/">
        <a href="https://agger.com.br/">
            <img src="css/Images/LogoAgger.jpg" alt="Logo da empresa Agger">
        </a>
    </div>
</footer>

@code {

    void createForm() => InteractionViewModel.IsFormVisible = true;
}
