@page "/interaction";
@inherits CustomBaseComponent<InteractionViewModel>

<h3>Interaction</h3>

<form>
    <div class="CadastraPerguntas">
        <div>
            <div class="CreateForm">
                <button onclick="@createForm">Criar Pergunta</button>
                @if (InteractionViewModel.IsFormVisible)
                {
                    <input type="text" placeholder="Cadastre sua pergunta." id="Quest" @bind-value="BindingContext.Quest" />
                    <div id="buttonSave">
                        <button @onclick="@BindingContext.saveQuestClick">Salvar</button>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="ConsultaPerguntas">

        <label>Perguntas Cadastradas</label>

        <div>
            <select>
                <option>Perguntas Cadastradas</option>
            </select>
        </div>
        <div class="RetornaSelecionadaDoBanco">
            <div class="SelectePergunta">
                <label>Pegunta</label>
            </div>

            <div class="SelecteRespostas">
                <label>Respostas1</label>
                <label>Respostas2</label>
                <label>Respostas3</label>
            </div>
        </div>


        <button>Salvar</button>
        <button>Excluir</button>
    </div>
</form>

<footer id="footer" class="d-flex justify-content-center">
    <div href="https://agger.com.br/">
        <a href="https://agger.com.br/">
            <img src="css/Images/LogoAgger.jpg" alt="Logo da empresa Agger">
        </a>
    </div>
</footer>

@code {

    void createForm() => InteractionViewModel.IsFormVisible = true;
}
