@page "/";
@inherits CustomBaseComponent<LoginViewModel>

<div class="d-flex justify-content-center mt-1">
    <form id="logInForm" class="">
        <div id="title">
            <h3>
                WhatsInt <img src="css/Images/LogoAggerLogin.png" alt="Logo da empresa Agger" class="LogoLogin">
            </h3>
        </div>

        <div id="userMailDiv">
            <label class="Descricao">E-mail do Usuario</label>
            <input type="text" placeholder="E-mail" id="userMail" @bind-value="BindingContext.UserMail">
        </div>

        @if (LoginViewModel.onLogin)
        {
            <div id="userNameDiv">
                <label class="Descricao">Nome do Usuario</label>
                <input type="text" placeholder="Nome" id="userName" @bind-value="BindingContext.UserName">
            </div>
        }

        <div id="passwordDiv">
            <label class="Descricao">Senha</label>
            <input type="password" placeholder="Senha" id="password" @bind-value="BindingContext.Password">
        </div>

        @if (LoginViewModel.onLogin)
        {
            <div id="passwordConfirmationDiv">
                <label class="Descricao">Confirmação de Senha</label>
                <input type="password" placeholder="Confirme sua Senha" id="passwordConfirmation" @bind-value="BindingContext.PasswordConfirmation">
            </div>
        }

        <div id="buttonLogIn">
            <button @onclick="@BindingContext.LoginButtonClick">@labelButtonLogin</button>
        </div>

        <div id="LabelCadasterText">
            <label @onclick="CadasterLabelClick" for="LabelCadasterText">@LabelCadasterText</label>
        </div>


        <tooltip>
            <label>@LoginViewModel.ErrorMessage</label>
        </tooltip>

    </form>
</div>

<footer id="footer" class="d-flex justify-content-center">
    <div href="https://agger.com.br/">
        <a href="https://agger.com.br/">
            <img src="css/Images/LogoAgger.jpg" alt="Logo da empresa Agger">
        </a>
    </div>
</footer>



@code
{
    private string LabelCadasterText = "Ainda não possui cadastro? Cadastre-se Aqui";
    private string labelButtonLogin = "Log In";

    private void CadasterLabelClick()
    {
        LoginViewModel.onLogin = !LoginViewModel.onLogin;

        switch (LabelCadasterText)
        {
            case "Ainda não possui cadastro? Cadastre-se Aqui":
                LabelCadasterText = "Ja possui cadastro? Clique aqui para logar";
                labelButtonLogin = "Cadastrar";

                return;

            case "Ja possui cadastro? Clique aqui para logar":
                LabelCadasterText = "Ainda não possui cadastro? Cadastre-se Aqui";
                labelButtonLogin = "Log In";

                return;
        }
    }

}
