@inherits LayoutComponentBase
@page "/LoginView"

<div class="background">
</div>
<form>
    <h3>WhatsInt</h3>

    <label for="username" class="Descricao">E-mail</label>
    <input type="text" placeholder="E-mail do Usuario" id="username" @bind-value="user">

    <label for="password" class="Descricao">Senha</label>
    <input type="password" placeholder="Senha" id="password" @bind-value="password">

    <button @onclick="LoginButtonClick">Log In</button>
</form>

<div class="DevelopedByAgger" href="https://agger.com.br/">
    <a href="https://agger.com.br/">
        <img src="css/Images/LogoAgger.jpg" alt="Logo da empresa Agger">
    </a>
</div>