*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.background {
    width: 430px;
    height: c
    left: 50%;
    top: 40%;
}

.Titulo {
    color:black;
}

form {
    background-color: rgba(255,255,255,0.13);
    border-radius: 10px;
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
    padding-top:10px;
}

    form * {
        font-family: 'Poppins',sans-serif;
        color: #ffffff;
        letter-spacing: 0.5px;
        outline: none;
        border: none;
    }

    form h3 {
        margin-top:15px;
        font-size: 60px;
        font-weight: 500;
        line-height: 35px;
        text-align: center;
    }

label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}

input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.20);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

::placeholder {
    color: #e5e5e5;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

button {
    margin-top: 50px;
    width: 100%;
    color: white;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgba(255,255,255,0.50);
}

.DevelopedByAgger {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 17%;
    text-align: center;
}

.LogoLogin{
    width:70px;
    height:70px;
    margin-top:-10px;
}

.LoginLabel {
    font-size: 12px;
}

.LabelCadasterText {
    top: 50%;
    left: 50%;
}
