@inherits LayoutComponentBase
@page "/LoginView"

<div class="d-flex justify-content-center mt-1">
    <form id="logInForm" class="">
        <div id="title">
            <h3>
                WhatsInt <img src="css/Images/LogoAggerLogin.png" alt="Logo da empresa Agger" class="LogoLogin">
            </h3>
        </div>

        <div id="userMailDiv">
            <label for="usermail" class="Descricao">E-mail do Usuario</label>
            <input type="text" placeholder="E-mail" id="userMail" @bind-value="userMail">
        </div>

        @if (onLogin)
        {
            <div id="userNameDiv">
                <label for="username" class="Descricao">Nome do Usuario</label>
                <input type="text" placeholder="Nome" id="userName" @bind-value="userName">
            </div>
        }
        <div id="passwordDiv">
            <label for="password" class="Descricao">Senha</label>
            <input type="password" placeholder="Senha" id="password" @bind-value="password">
        </div>

        @if (onLogin)
        {
            <div id="passwordConfirmationDiv">
                <label for="passwordConfirmation" class="Descricao">Confirmação de Senha</label>
                <input type="password" placeholder="Confirme sua Senha" id="passwordConfirmation" @bind-value="passwordConfirmation">
            </div>
        }
        <div id="buttonLogIn">
            <button @onclick="LoginButtonClick" >@labelButtonLogin</button>
        </div>

        <div id="LabelCadasterText">
            <label @onclick="CadasterLabelClick" for="LabelCadasterText">@LabelCadasterText</label>
        </div>

    </form>
</div>

<footer id="footer" class="d-flex justify-content-center">
    <div href="https://agger.com.br/">
        <a href="https://agger.com.br/">
            <img src="css/Images/LogoAgger.jpg" alt="Logo da empresa Agger">
        </a>
    </div>
</footer>